@font-face {
  font-family: "OriginFont";
  src: url("../../SFPRO/SF-Pro-Display-Regular.otf");
}
@font-face {
  font-family: "OriginFont";
  src: url("../../SFPRO/SF-Pro-Display-Bold.otf");
  font-weight: bold;
}
@font-face {
  font-family: "OriginFont";
  src: url("../../SFPRO/SF-Pro-Display-Medium.otf");
  font-weight: 500;
}
@font-face {
  font-family: "OriginFont";
  src: url("../../SFPRO/SF-Pro-Display-Semibold.otf");
  font-weight: 600;
}
@font-face {}
* {
  box-sizing: border-box;
  font-size: 10px;
  font-family: "OriginFont", sans-serif;
}

body a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
body .header {
  background-image: url("../assets/header.png");
  background-size: cover;
  display: flex;
  height: 60vh;
  position: relative;
  align-items: center;
  justify-content: center;
  color: #f6f7f8;
}
body .header__elements {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3;
  gap: 1.5em;
}
body .header__elements-h1 {
  font-size: 7rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
}
body .header__elements-h2 {
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: semibold;
  letter-spacing: 0.3rem;
  color: #ffffff;
}
body .header__elements button {
  background-color: #f7941d;
  padding: 1rem 3rem;
  text-transform: uppercase;
  font-size: 1.8rem;
  color: #ffffff;
  border: none;
  font-weight: bold;
  letter-spacing: 0.2rem;
}
body .header__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: rgba(0, 66, 116, 0.7);
  z-index: 2;
}
body .header .nav {
  position: fixed;
  z-index: 3;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 2.5rem 15% 1.5rem;
}
body .header .nav__link {
  display: flex;
  align-items: center;
}
body .header .nav__link-element {
  margin: 0 1.2rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 500;
}
body .header .nav.scrolled {
  background-color: white;
  width: 100%;
  padding: 1rem 15%;
  margin-top: 0;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.1);
  z-index: 200;
}
body .header .nav.scrolled a {
  color: #06aeff;
}
body .header__mobile {
  display: none;
}
body .mobile__menu {
  display: none;
}
body .portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15rem 0 5rem 0;
  background-color: #f6f7f8;
  width: 100%;
}
body .portfolio .slider {
  width: 70%;
  max-width: 1200px;
  text-align: center;
  position: relative;
}
body .portfolio .slider h2 {
  color: black;
  font-size: 3.6rem;
  font-weight: 600;
  margin: 0 0 3.5rem 0;
}
body .portfolio .slider__more a {
  color: black;
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0 0 3.5rem 0;
  color: #1868b3;
  text-decoration: none;
}
body .portfolio .slider a {
  align-items: center;
}
body .portfolio .slider____title {
  font-size: 2em;
  margin-bottom: 0.5em;
}
body .portfolio .slider__more {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1em;
  text-decoration: none;
  color: #1868b3;
  font-weight: 500;
}
body .portfolio .swiper {
  width: 100%;
  padding-bottom: 40px;
}
body .portfolio .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .portfolio .swiper-slide img {
  width: 100%;
  display: block;
}
body .portfolio .swiper-button-prev, body .portfolio .swiper-button-next {
  color: #000;
  background-color: rgb(255, 255, 255);
  border: none;
  padding: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 5px;
}
body .portfolio .swiper-button-prev i, body .portfolio .swiper-button-next i {
  font-size: 1.8rem;
}
body .portfolio .swiper-button-next::after, body .portfolio .swiper-button-prev::after {
  content: "";
}
body .portfolio .swiper-button-next {
  margin-left: 2rem;
}
body .search {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 100%;
}
body .search .search__tabs {
  display: flex;
  padding: 0 2em;
  border: none;
  width: 70%;
  margin: 0 auto;
}
body .search .search__tab {
  padding: 1rem 2rem;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1.8rem;
  margin-right: 1rem;
  border: none;
  font-weight: semibold;
}
body .search .search__tab--active {
  background-color: #06aeff;
  color: #ffffff;
}
body .search .search-container {
  width: 70%;
  background-color: #ffffff;
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
  padding: 2em 2em;
  margin: 0 auto;
}
body .search .search-container__search-bar {
  display: flex;
  margin-bottom: 2rem;
  width: 100%;
}
body .search .search-container__search-input {
  padding: 0.7rem;
  width: 85%;
  border: 1px solid #dce0e0;
  outline: none;
  margin-right: 1%;
  font-size: 1.6em;
  font-weight: semibold;
}
body .search .search-container__search-button {
  padding: 1rem 4rem;
  border: none;
  background-color: #06aeff;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
  font-size: 1.6em;
  width: 20%;
}
body .search .search-container__search-button:hover {
  background-color: #2980b9;
}
body .search .search-container__filters {
  display: flex;
  justify-content: center;
  gap: 2em;
  justify-content: space-between;
  font-size: 1.6em;
}
body .search .search-container .filter {
  position: relative;
  width: 30%;
}
body .search .search-container .custom-select-wrapper {
  position: relative;
  user-select: none;
}
body .search .search-container .custom-select {
  display: flex;
  flex-direction: column;
  width: 100%;
}
body .search .search-container .custom-select__trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #ffffff;
  border: 1px solid #dce0e0;
  cursor: pointer;
}
body .search .search-container .custom-select__trigger span {
  font-size: 1.6rem;
  color: #676767;
}
body .search .search-container .custom-select__trigger .custom-select__arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000;
}
body .search .search-container .custom-select__options {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #ffffff;
  border: 1px solid #dce0e0;
  z-index: 10;
}
body .search .search-container .custom-select__option {
  padding: 1em;
  cursor: pointer;
  font-size: 1.6rem;
}
body .search .search-container .custom-select__option:hover {
  background-color: #f0f0f0;
}
body .search .search-container .custom-select__option--selected {
  background-color: #3498db;
  color: #fff;
}
body .search .search-container .custom-select__option--selected:hover {
  background-color: #2980b9;
}
body .search .search-container .custom-select--open .custom-select__options {
  display: flex;
}
body .spotlight {
  width: 70%;
  padding: 5rem 0;
  margin: 0 auto;
}
body .spotlight__tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #9f9f9f;
}
body .spotlight__tabs-elements {
  display: flex;
  gap: 2rem;
  text-transform: uppercase;
  color: #9f9f9f;
  padding-bottom: 2rem;
}
body .spotlight__tabs-element {
  font-size: 2.4rem;
}
body .spotlight__tabs-element--active {
  color: #004274;
}
body .spotlight__tabs-more {
  text-decoration: none;
  color: #1868b3;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 500;
}
body .spotlight__main {
  display: grid;
  grid-template-columns: 4fr 3.5fr 2.5fr;
  gap: 1.5rem;
  margin: 2rem 0;
}
body .spotlight__headline {
  height: 100%;
}
body .spotlight__headline-img img {
  max-width: 100%;
}
body .spotlight__headline-head {
  font-size: 3rem;
  font-weight: 600;
  margin: 1rem 0;
}
body .spotlight__headline-description {
  width: 100%;
  font-size: 1.6rem;
  line-height: 2.5rem;
  margin: 1rem 0;
}
body .spotlight__headline-time {
  color: #9f9f9f;
  font-size: 1.3rem;
}
body .spotlight__headline-time i {
  font-size: 1.3rem;
  margin-right: 1rem;
}
body .spotlight__list {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
  padding: 0 0 0 2rem;
}
body .spotlight__list-element {
  display: flex;
  justify-content: space-between;
}
body .spotlight__list-element h3 {
  font-size: 1.8rem;
  margin: 1rem 2rem 1rem 0;
}
body .spotlight__list-element p {
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  color: #9f9f9f;
}
body .spotlight__list-element p i {
  font-size: 1.3rem;
  margin-right: 0.8rem;
}
body .spotlight__list-more {
  display: none;
}
body .spotlight__imgs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
body .spotlight__imgs img {
  width: 70%;
}
body .spotlight__ads {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-end;
}
body .spotlight__ads img {
  width: 100%;
}
body .location {
  display: flex;
  width: 70%;
  gap: 2rem;
  max-height: 40rem;
  margin: 0 auto;
  padding: 2rem 0;
  height: 800px;
}
body .location__intro {
  display: flex;
  flex-direction: column;
}
body .location__intro .icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #1868b3;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
body .location__intro .icon i {
  margin: auto;
  color: #ffffff;
  font-size: 2rem;
}
body .location__intro .p1 {
  font-size: 2.4rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 1.8rem 0 0 0;
}
body .location__intro .p2 {
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 1rem 0 0 0;
}
body .location__intro a {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  text-decoration: none;
  margin: 1.8rem 0 0 0;
  text-transform: uppercase;
  color: #1868b3;
}
body .location__intro a i {
  font-size: 1.6rem;
  margin-left: 1rem;
}
body .location__detail {
  background-position: center;
  background-size: cover;
  height: 90%;
  margin-right: 1rem;
  width: 25%;
}
body .location__detail-wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
body .location__detail .p__location {
  font-size: 2rem;
  color: #ffffff;
  margin: 2rem 1rem 1rem 1.5rem;
  font-weight: 400;
}
body .location__detail .p__nop {
  font-size: 1.8rem;
  color: #ffffff;
  margin: 1rem 1rem 1rem 1.5rem;
  font-weight: 500;
}
body .location .hanoi {
  background-image: linear-gradient(rgb(0, 66, 116), rgba(0, 66, 116, 0)), url("../assets/location-1.png");
}
body .location .hcm {
  background-image: linear-gradient(rgb(0, 66, 116), rgba(0, 66, 116, 0)), url("../assets/location-2.png");
}
body .location .danang {
  background-image: linear-gradient(rgb(0, 66, 116), rgba(0, 66, 116, 0)), url("../assets/location-3.png");
}
body .location .binhduong {
  background-image: linear-gradient(rgb(0, 66, 116), rgba(0, 66, 116, 0)), url("../assets/location-4.png");
}
body .location__swiper {
  width: 100%;
  padding: 0 0 5rem 0;
}
body .location__swiper .slider {
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
}
body .location__swiper .slider .swiper {
  margin: 0 auto;
  padding: 0 2rem;
}
body .location__swiper .slider .swiper-slide {
  padding: 0.5rem 0.8rem;
  background-color: #f6f7f8;
  color: black;
  border-radius: 8px;
  text-align: center;
}
body .location__swiper .slider .swiper-slide p {
  font-size: 1.3rem;
}
body .location__swiper .slider .swiper .swiper-wrapper {
  margin: 0 auto;
}
body .location__swiper .slider .swiper-button-prev, body .location__swiper .slider .swiper-button-next {
  color: #000;
  background-color: rgb(255, 255, 255);
  border: none;
  padding: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 5px;
}
body .location__swiper .slider .swiper-button-prev i, body .location__swiper .slider .swiper-button-next i {
  font-size: 1.8rem;
}
body .location__swiper .slider .swiper-button-next::after, body .location__swiper .slider .swiper-button-prev::after {
  content: "";
}
body .location__swiper .slider .swiper-button-next {
  margin-left: 2rem;
}
body .location__swiper .slider .location-swiper-button-prev,
body .location__swiper .slider .location-swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(6%);
  z-index: 10;
  background-color: transparent;
}
body .location__swiper .slider .location-swiper-button-prev i,
body .location__swiper .slider .location-swiper-button-next i {
  font-size: 1rem;
}
body .location__swiper .slider .location-swiper-button-prev {
  left: -11px;
}
body .location__swiper .slider .location-swiper-button-next {
  right: -11px;
}
body .knowledge {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 0 5rem 0;
  background-color: #f6f7f8;
  width: 100%;
}
body .knowledge__text {
  overflow: hidden;
  height: 35%;
  overflow: hidden; /* Hides any overflowing content */
  text-overflow: ellipsis; /* Adds the ellipsis (...) */
}
body .knowledge .slider {
  width: 70%;
  max-width: 1200px;
  text-align: center;
  position: relative;
}
body .knowledge .slider h2 {
  color: black;
  font-size: 2.4rem;
  font-weight: 600;
  margin: 0 0 2rem 0;
  text-transform: uppercase;
  text-align: left;
}
body .knowledge .slider a {
  align-items: center;
  text-decoration: none;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  height: 350px;
  justify-content: flex-start;
}
body .knowledge .slider a i {
  font-size: 1.6rem;
  margin-left: 1rem;
}
body .knowledge .slider____title {
  font-size: 2em;
  margin-bottom: 0.5em;
}
body .knowledge .slider__more {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1em;
  text-decoration: none;
  color: #3498db;
}
body .knowledge .swiper {
  width: 100%;
}
body .knowledge .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
}
body .knowledge .swiper-slide img {
  width: 100%;
  display: block;
}
body .knowledge .swiper-slide p {
  text-align: left;
  font-size: 1.8rem;
  padding: 0 1rem;
  font-weight: 500;
  line-height: 2.4rem;
}
body .knowledge .swiper-slide p.knowledge__time {
  color: #676767;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
}
body .knowledge .swiper-slide p.knowledge__time i {
  font-size: 1.4rem;
  margin-right: 1rem;
}
body .knowledge .swiper-pagination {
  bottom: 30px;
}
body .knowledge .swiper-button-prev, body .knowledge .swiper-button-next {
  color: #000;
  background-color: rgb(255, 255, 255);
  border: none;
  padding: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 5px;
}
body .knowledge .swiper-button-prev i, body .knowledge .swiper-button-next i {
  font-size: 1.8rem;
}
body .knowledge .swiper-button-next::after, body .knowledge .swiper-button-prev::after {
  content: "";
}
body .knowledge .swiper-button-next {
  margin-left: 2rem;
}
body .cooperate {
  width: 100%;
  padding: 5rem 0;
}
body .cooperate .slider {
  width: 70%;
  margin: 0 auto;
}
body .cooperate .slider .slide__title {
  font-size: 2.4rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 5rem;
}
body .cooperate .slider .swiper {
  display: flex;
  align-items: center;
}
body .cooperate .slider .swiper-wrapper {
  padding-left: 35rem;
}
body .cooperate .slider .swiper-slide {
  align-self: center;
}
body .cooperate .slider .swiper-button-prev, body .cooperate .slider .swiper-button-next {
  color: #000;
  background-color: transparent;
  border: none;
  padding: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 5px;
}
body .cooperate .slider .swiper-button-prev i, body .cooperate .slider .swiper-button-next i {
  font-size: 1.8rem;
}
body .cooperate .slider .swiper-button-next::after, body .cooperate .slider .swiper-button-prev::after {
  content: "";
}
body .cooperate .slider .swiper-button-next {
  margin-left: 2rem;
}
body .cooperate__mobile {
  display: none;
}
body .communicate {
  width: 100%;
  padding: 5rem 0;
}
body .communicate .slider {
  width: 70%;
  margin: 0 auto;
}
body .communicate .slider h2 {
  font-size: 2.4rem;
  font-weight: 600;
  text-transform: uppercase;
}
body .communicate .slider .swiper {
  display: flex;
  align-items: center;
}
body .communicate .slider .swiper-slide {
  box-sizing: content-box;
  align-self: center;
  padding: 1.2rem 0;
  border: 1px solid #dce0e0;
}
body .communicate .slider .swiper-slide__logo {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 1rem auto;
}
body .communicate .slider .swiper-slide__img {
  width: 100%;
}
body .communicate .slider .swiper-slide__text {
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 500;
  padding: 0 1rem;
}
body .communicate .slider .swiper-button-prev, body .communicate .slider .swiper-button-next {
  color: #000;
  background-color: #ffffff;
  border: none;
  padding: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 5px;
}
body .communicate .slider .swiper-button-prev i, body .communicate .slider .swiper-button-next i {
  font-size: 1.8rem;
}
body .communicate .slider .swiper-button-next::after, body .communicate .slider .swiper-button-prev::after {
  content: "";
}
body .communicate .slider .swiper-button-next {
  margin-left: 2rem;
}
body .banner {
  background-color: #1868b3;
  height: 25rem;
  margin-top: 5rem;
  display: flex;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}
body .banner-container {
  width: 40%;
  height: 100%;
  background-color: #f6f7f8;
  display: flex;
  align-items: center;
  padding-left: 5rem;
  position: relative;
}
body .banner-container .item-left {
  display: flex;
  flex-direction: column;
}
body .banner-container .item-left p {
  font-size: 1.6rem;
  font-weight: bold;
}
body .banner-container .item-left .download-container {
  display: flex;
  gap: 2rem;
}
body .banner-container .item-left .download-container .download-app {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
body .banner-container .item-left .img-linkin {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(50%, 0);
}
body .banner-container .item-left .img-linkin img {
  height: 100%;
  display: block;
}
body .banner-container .item-left .img-linkin2 {
  position: absolute;
  right: 0;
  bottom: 50%;
  transform: translate(50%, -50%);
}
body .banner-container .item-left .img-linkin2 img {
  height: 100%;
  display: block;
}
body .banner .banner-container-right {
  width: 60%;
  margin: 0 2rem 0 15rem;
}
body .banner .banner-container-right .container-right-content h1 {
  font-size: 2.8rem;
  color: white;
  line-height: 3.8rem;
  font-weight: 300;
}
body .banner .banner-container-right .container-right-content h1 span {
  font-size: 2.8rem;
  color: white;
  font-weight: 800;
}
body .banner .banner-container-right .container-right-content p {
  font-size: 1.8rem;
  color: white;
  padding-right: 18rem;
  line-height: 2.5rem;
}
body .statistics {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin: 5rem auto;
  gap: 2rem;
}
body .statistics .statistics-item h2 {
  font-size: 2.4rem;
  margin: 1.5rem 0;
}
body .statistics .statistics-item h1 {
  font-size: 3.6rem;
  margin: 1.5rem 0;
}
body .statistics .statistics-item:nth-child(2) {
  width: 40%;
}
body .statistics .statistics-item:nth-child(2) img {
  width: 100%;
}
body .statistics .statistics-detail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
body .statistics .statistics-detail .item-detail {
  flex-basis: calc(50% - 5rem);
  padding-left: 2rem;
  border-left: 0.4rem solid #004274;
}
body .statistics .statistics-detail .item-detail:first-child, body .statistics .statistics-detail .item-detail:last-child {
  border-left: 0.4rem solid #f7941d;
}
body .statistics .statistics-detail .item-detail h1 {
  font-size: 4rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
body .statistics .statistics-detail .item-detail p {
  font-size: 1.8rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
body .get-infor {
  width: 100%;
  height: 100%;
  background-color: #004274;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .get-infor .get-infor-container {
  width: 70%;
  background-color: #1868b3;
  padding: 2rem 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
body .get-infor .get-infor-container div {
  display: flex;
  align-items: center;
  text-align: center;
}
body .get-infor .get-infor-container div p {
  width: 100%;
}
body .get-infor .get-infor-container p {
  color: white;
  font-size: 1.6rem;
  font-weight: 600;
  width: 25%;
  text-align: center;
}
body .get-infor .get-infor-container .email {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 50%;
}
body .get-infor .get-infor-container .email input {
  border: none;
  outline: none;
  font-size: 1.6rem;
  flex-grow: 1;
  padding: 1.5rem 0 1.5rem 2rem;
}
body .get-infor .get-infor-container .email input::placeholder {
  color: black;
}
body .get-infor .get-infor-container .email .img-border {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem 1rem;
  cursor: pointer;
  background: #06aeff;
}
body .footer .download {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
body .footer .download .download-app {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
body .footer .download .download-app p {
  font-size: 1.6rem;
}
body .footer h6 {
  color: #004274;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.2rem;
  margin-bottom: 1.2rem;
}
body .footer h6.company-name {
  width: 85%;
}
body .footer .footer-content {
  width: 70%;
  margin: auto;
  display: flex;
  gap: 5rem;
  border-bottom: 1px solid #dce0e0;
  padding: 1.5rem 0 3rem 0;
}
body .footer .footer-content .company-info {
  width: 35%;
  margin-right: 8rem;
  display: flex;
  flex-direction: column;
}
body .footer .footer-content .company-info-item {
  display: flex;
  gap: 1rem;
  align-items: start;
  margin: 0 0 1.8rem 0;
}
body .footer .footer-content .company-info-item p {
  margin: 0 0 1rem 0;
  line-height: 2.2rem;
}
body .footer .footer-content .company-info-item .address {
  color: #004274;
  font-weight: 600;
  font-size: 1.8rem;
}
body .footer .footer-content .company-info-item .detail {
  font-size: 1.6rem;
}
body .footer .category {
  font-size: 1.6rem;
}
body .footer .category h6 {
  margin-bottom: 1.2rem;
}
body .footer .infor-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
body .footer .infor-container .item {
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-size: 1.6rem;
}
body .footer .infor-container .view {
  color: #f7941d;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
body .footer .infor-container .view i {
  font-size: 1.6rem;
  margin: 0 1.2rem;
}
body .footer .footer-info {
  padding: 3rem 0 2rem 0;
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
body .footer .footer-info .powered-by p {
  font-size: 1.6rem;
}
body .footer .footer-info .powered-by span {
  font-size: 1.6rem;
  color: #004274;
  font-weight: 600;
}
body .footer .footer-info .social-contact {
  display: flex;
  align-items: center;
  gap: 1rem;
}
body .footer .footer-info .social-contact p {
  font-size: 1.6rem;
}
body .footer .footer-info .social-contact .social-icon {
  display: flex;
  gap: 1rem;
}
body .footer .footer-info .certi {
  display: flex;
  align-items: center;
  gap: 1rem;
}
body .footer .footer-info .certi div p {
  font-size: 1.6rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}
@media only screen and (max-width: 500px) {
  body .header {
    display: none;
  }
  body .header__mobile {
    height: 100vh;
    display: block;
  }
  body .header__mobile .header__nav-wrap {
    position: fixed;
    top: 0;
    z-index: 200;
    right: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  body .header__mobile-title {
    width: 100%;
    background-color: #1868b3;
    font-size: 1.4rem;
    line-height: 2rem;
    color: #ffffff;
    margin: 0;
    text-transform: uppercase;
    padding: 1.5rem 2rem;
    text-align: center;
    position: fixed;
    z-index: 200;
  }
  body .header__mobile-nav {
    background-color: #ffffff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5rem;
    padding: 1.5rem 2rem;
  }
  body .header__mobile-nav i {
    font-size: 2rem;
    color: #1868b3;
  }
  body .header__mobile-content {
    height: 90vh;
    background: url("../../public/assets/header.png") center;
    background-size: cover;
    position: relative;
    margin-top: 11rem;
  }
  body .header__mobile-content .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #004274;
    opacity: 0.6;
    z-index: 1;
  }
  body .header__mobile-content-main {
    position: absolute;
    width: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
  }
  body .header__mobile-content-main .title1 {
    font-size: 4rem;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    margin: 0 0 0.5rem 0;
  }
  body .header__mobile-content-main .title2 {
    font-size: 3rem;
    font-weight: 600;
    color: #ffffff;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
  }
  body .header__mobile-content-main button {
    background-color: #f7941d;
    padding: 1rem 2rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    color: #ffffff;
    border: none;
    font-weight: bold;
    letter-spacing: 0.1rem;
    margin-top: 2rem;
  }
  body .header__mobile-search {
    width: 100%;
    padding: 0 5rem;
    margin: 5rem 0 0 0;
  }
  body .header__mobile-search-tab {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
  body .header__mobile-search-tab .tab {
    background-color: #06aeff;
    padding: 1rem 3rem;
    text-transform: uppercase;
    font-size: 1.8rem;
    color: #ffffff;
    border: none;
    text-transform: capitalize;
    width: 45%;
    text-align: center;
  }
  body .header__mobile-search-tab .tab--active {
    background-color: #ffffff;
    color: #000000;
  }
  body .header__mobile-search-content {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem;
  }
  body .header__mobile-search-content .search-container__search-button {
    background-color: #06aeff;
  }
  body .header__mobile-search-content .search-container__search-bar {
    width: 100%;
  }
  body .header__mobile-search-content .search-container__search-bar input {
    width: 100%;
    padding: 1rem 1rem;
    font-size: 1.6rem;
    border: 1px solid #dce0e0;
  }
  body .header__mobile-search-content .search-container__filters {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.6em;
    gap: 2rem;
    margin-top: 2rem;
  }
  body .header__mobile-search-content .filter {
    position: relative;
    width: 100%;
  }
  body .header__mobile-search-content .custom-select-wrapper {
    position: relative;
    user-select: none;
  }
  body .header__mobile-search-content .custom-select {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  body .header__mobile-search-content .custom-select__trigger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #ffffff;
    border: 1px solid #dce0e0;
    cursor: pointer;
  }
  body .header__mobile-search-content .custom-select__trigger span {
    font-size: 1.6rem;
    color: #676767;
  }
  body .header__mobile-search-content .custom-select__trigger .custom-select__arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000;
  }
  body .header__mobile-search-content .custom-select__options {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #ffffff;
    border: 1px solid #9f9f9f;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }
  body .header__mobile-search-content .custom-select__option {
    padding: 1em;
    cursor: pointer;
    font-size: 1.6rem;
  }
  body .header__mobile-search-content .custom-select__option:hover {
    background-color: #f0f0f0;
  }
  body .header__mobile-search-content .custom-select__option--selected {
    background-color: #3498db;
    color: #fff;
  }
  body .header__mobile-search-content .custom-select__option--selected:hover {
    background-color: #2980b9;
  }
  body .header__mobile-search-content .custom-select--open .custom-select__options {
    display: flex;
  }
  body .mobile__menu {
    display: flex;
    width: 80vw;
    height: 86vh;
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    right: -80vw;
    z-index: 200;
    flex-direction: column;
    padding: 5rem 0 0 2rem;
    gap: 2rem;
    transition: all 0.3s;
  }
  body .mobile__menu-link {
    font-size: 1.8rem;
  }
  body .mobile__menu-link i {
    font-size: 1.8rem;
    margin-right: 1.5rem;
  }
  body .mobile__menu-footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
  }
  body .mobile__menu-footer p {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 1.8rem;
  }
  body .mobile__menu-footer .logo-wrap {
    margin: 0 auto 2rem;
    width: 60%;
    display: flex;
    justify-content: space-around;
  }
  body .search {
    display: none;
  }
  body .portfolio .slider {
    width: 100%;
    padding: 0 2rem;
  }
  body .portfolio .slider h2 {
    text-align: left;
    font-size: 2rem;
    font-weight: 600;
  }
  body .portfolio .slider__more {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    font-size: 1.4rem;
  }
  body .portfolio .slider button {
    display: none;
  }
  body .spotlight {
    width: 100%;
    padding: 4rem 2rem;
  }
  body .spotlight__ads {
    display: none;
  }
  body .spotlight__tabs-element {
    font-size: 1.8rem;
  }
  body .spotlight__tabs-more {
    display: none;
  }
  body .spotlight__main {
    display: flex;
    flex-direction: column;
  }
  body .spotlight__headline {
    margin-bottom: 3rem;
  }
  body .spotlight__headline-head {
    font-size: 2.4rem;
    margin: 1rem 0;
    font-weight: 700;
  }
  body .spotlight__headline-description {
    font-size: 1.6rem;
    margin: 1rem 0;
    font-weight: normal;
  }
  body .spotlight__headline-time {
    font-size: 1.3rem;
  }
  body .spotlight__list {
    padding-left: 0;
  }
  body .spotlight__list-element {
    flex-direction: row-reverse;
  }
  body .spotlight__list-element-wrap {
    margin-left: 3rem;
  }
  body .spotlight__list-element-wrap h3 {
    margin: 0 0;
  }
  body .spotlight__list-more {
    text-transform: uppercase;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    width: 100%;
    margin: 2.5rem 0 2rem;
  }
  body .spotlight__list-more i {
    font-size: 1.4rem;
    margin-left: 1rem;
  }
  body .knowledge {
    padding: 5rem 2rem;
  }
  body .knowledge .slider {
    width: 100%;
  }
  body .knowledge .slider button {
    display: none;
  }
  body .knowledge .slider__more {
    display: flex;
    align-items: center;
  }
  body .knowledge .slider .swiper-pagination {
    bottom: 0;
  }
  body .cooperate {
    display: none;
  }
  body .cooperate__mobile {
    width: 100%;
    padding: 4rem 2rem 2rem;
    display: flex;
    flex-direction: column;
  }
  body .cooperate__mobile h2 {
    color: black;
    font-size: 2.4rem;
    font-weight: 600;
    margin: 0 0 2rem 0;
    text-transform: uppercase;
    text-align: left;
  }
  body .cooperate__mobile .swiper-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  body .cooperate__mobile .swiper-wrapper .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body .banner {
    display: none;
  }
  body .communicate {
    padding: 5rem 2rem;
  }
  body .communicate .slider {
    width: 100%;
  }
  body .communicate .slider button {
    display: none;
  }
  body .statistics {
    width: 100%;
    margin: 0;
    padding: 4rem 2rem;
    flex-direction: column;
  }
  body .statistics .statistics-detail {
    gap: 1rem;
    padding: 0 0 0 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  body .statistics-item:first-child {
    display: flex;
    gap: 1.5rem;
  }
  body .statistics-item:first-child h1 {
    margin: 0.5rem 0;
  }
  body .statistics-item:first-child h2 {
    margin: 0.5rem 0;
  }
  body .statistics .statistics-img {
    max-width: 100%;
  }
  body .statistics-detail .item-detail {
    padding-left: 2rem;
    border-left: 0.4rem solid #004274;
    margin: 0 0 1rem 0;
    display: flex;
    flex-direction: column;
  }
  body .get-infor .get-infor-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem;
  }
  body .get-infor .get-infor-container div {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  body .get-infor .get-infor-container div p {
    width: auto;
  }
  body .get-infor .get-infor-container .email {
    width: 100%;
    gap: 0;
  }
  body .get-infor .get-infor-container .email input {
    width: 85%;
  }
  body .get-infor .get-infor-container .email .img-border {
    width: 25%;
  }
  body .location {
    width: 100%;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 60rem;
  }
  body .location__detail {
    min-width: 50%;
    margin: 0 1rem;
    height: 100%;
  }
  body .location__detail-wrap {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    height: 40vh;
  }
  body .location__swiper .slider {
    width: 90%;
  }
  body .location__swiper .swiper-pagination {
    display: none;
  }
  body .location__swiper button {
    display: none;
  }
  body .footer {
    padding: 3rem 2rem;
  }
  body .footer .download .download-app {
    display: none;
  }
  body .footer .download img {
    max-width: 100%;
  }
  body .footer .footer-content {
    padding: 0;
    margin: 0;
    flex-direction: column;
    width: 100%;
    gap: 0;
  }
  body .footer .footer-content .company-info {
    width: 100%;
    padding: 0 2rem 0 3rem;
    border-bottom: 1px solid #dce0e0;
  }
  body .footer .footer-content .company-info h6,
  body .footer .footer-content .company-info p {
    padding-right: 7rem;
  }
  body .footer .footer-content .category {
    width: 100%;
    padding: 2rem 2rem 2rem 3rem;
  }
  body .footer .footer-content .category h6 {
    margin: 1.5rem 0;
  }
  body .footer .footer-content .project-position {
    width: 100%;
    padding: 2rem 2rem 2rem 3rem;
  }
  body .footer .footer-content .project-position h6 {
    margin: 1.5rem 0;
  }
  body .footer .footer-content .new {
    width: 100%;
    padding: 2rem 2rem 2rem 3rem;
  }
  body .footer .footer-content .new h6 {
    margin: 1.5rem 0;
  }
  body .footer .footer-info {
    margin: 0;
    width: 100%;
    flex-direction: column;
  }
  body .footer .footer-info .social-contact {
    order: 1;
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  body .footer .footer-info .powered-by {
    order: 2;
    text-align: center;
    margin: 1rem 0;
  }
  body .footer .footer-info .certi {
    order: 3;
  }
  body .footer .footer-info .certi .certi1 {
    flex-basis: 50%;
  }
}

/*# sourceMappingURL=homepage.css.map */
